.fullscreen-modal {
  position: fixed;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 4em;
  margin: 0;
}

.fullscreen-modal .close {
  cursor: pointer;
  float: right;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-transform: none;
  margin: 0;
  appearance: none;
  padding: 0;
  background-color: transparent;
  border: 3px solid transparent;
}

.fullscreen-modal .close:focus {
  border: 3px solid white;
}

.fullscreen-wrapper.blur {
  filter: blur(8px);
}

.fullscreen-wrapper.opacity {
  opacity: 0.5;
}

.fullscreen-modal-active {
  overflow: hidden;
}
